<!-- NAVBAR -->
<nav class="navbar navbar-default">
  <div class="container-fluid text-center">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img id="nav_img" alt="Brand" src="http://i.imgur.com/6PZAfHj.jpg" height="50" width="100">
      </a>
    </div>
    <div class="row">
      <h1 class="navbar-text">Story Time</h1><small>
      <ul id="nav_list" class="list-inline navbar-text">
        <li><a href="/dashboard"><u>Dashboard</u></a></li>
        <li><a href="/all_stories"><u>All Stories</u></a></li>
        <li><a href="/new_story"><u>New Story</u></a></li>
        <li><a href="/users"><u>Users</u></a></li>
      </ul></small>
      <button type="button" class="btn btn-default navbar-btn" style="position:relative; float:right">Sign in</button>
    </div>
  </div>
</nav>
<div class="row">
  <div id="left_main" class="col-md-8 borders">
    <h1 class="text-center">Top Stories</h1>
    <ul style="list-style-type:none" >
      <li>
        <div class="row borders main">
          <div class="col-sm-4">
            <img src="http://i.imgur.com/6PZAfHj.jpg" alt="image" height="120" width="150" style="padding-top:10px"/>
          </div>
          <div class="col-sm-8 row">
            <h3 class="text-center">Title</h3>
            <div class="col-sm-3">
              <p>Genre</p>
            </div>
            <div class="col-sm-9">
              <p>lorem asf ;oiawevo kansk aweiva;oihv aweo;oiaav aowe  awoi awoi ;oaiwfe</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div id="right_main" class="col-md-4 borders" style="overflow-y:auto;">
    <h1 class="text-center">Following</h1>
    <ul style="list-style-type:none">
      <li>
        <div class="row borders main">
          <div class="col-sm-4">
            <img src="http://i.imgur.com/6PZAfHj.jpg" alt="image" height="125" width="100" style="padding-top:20px"/>
          </div>
          <div class="col-sm-8 text-center">
            <h3>Title</h3>
            <p>genre</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
