<nav class="navbar foncee">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/">StoryHub</a>
  </div>
</div><!--/.container-fluid -->
</nav>
<div id="logreg" class="container">
  <h1>Welcome!</h1>
<br>
<div class="row">
    <div class="col-md-5 well">
      <h1>Registration Form</h1>
      <br><br>
      <form>
        <fieldset class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" placeholder="Enter first name" ng-model="newUser.fname">
        </fieldset>
        <fieldset class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" placeholder="Enter last name" ng-model="newUser.lname">
        </fieldset>
        <fieldset class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" placeholder="Enter email" ng-model="newUser.email">
        </fieldset>
        <fieldset class="form-group">
          <label>Phone</label>
          <input type="text" class="form-control" placeholder="Enter Phone Number" ng-model="newUser.phone">
        </fieldset>
        <fieldset class="form-group">
          <label>Location</label>
          <input type="text" class="form-control" placeholder="Enter City" ng-model="newUser.location">
        </fieldset>
        <fieldset class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Enter password" ng-model="newUser.password">
        </fieldset>
        <fieldset class="form-group">
          <label>Confirm Password</label>
          <input type="password" class="form-control" placeholder="Enter password again" ng-model="newUser.password_confirmation">
        </fieldset>
        <button class="btn btn-primary pull-right" ng-click="registerUser()">Register</button>
      </form>
    </div>

    <div class="col-md-5 col-md-offset-2 well">
      <h1>Login</h1>      
      <br><br>
      <form >
        <fieldset class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" placeholder="Enter your email" ng-model="user.email">
        </fieldset>
        <fieldset class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Enter password" ng-model="user.password">
        </fieldset>
        <button ng-click="loginUser()" class="btn btn-primary pull-right">Login</button>
      </form>
    </div>
  </div>
  </div>
  <br>
  <script type="text/javascript">
  $(document).ready(function() {
    $('body').removeClass('modal-open');
    $('.modal-backdrop').remove();
  })
</script>
