#background-image{
	min-height: 100%;
	min-width: 1024px;

	width: 100%;
	height: auto;

	position: fixed;
	top: 0;
	left: 0;
	background: url(./../images/writing.jpg) center no-repeat fixed;
	background-size: cover;
}

/*-----------------------
Style for Profile.html
-------------------------*/
#userProfile {
	height: 200px;
	width: 200px;
	margin: 10px 0px 10px 80px;

}

.side-bar {
	display: inline-block;
	height: 500px;
	overflow: hidden;
}

.topics {
	
	margin: 10px 0px 10px 50px;
	height: 150px;
}

.updateProfile {
	padding: 50px;
}

#userProfile, .side-bar, .topics {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#userBio {
	margin: 25px;
}

li {
	list-style: none;
}

/*------------------------------
End of Style for Profile.html
--------------------------------*/

